body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.warning-note { 
    margin-left:14em;
    max-width:280px;
    color:crimson;
}

.category-container{ 
    display:flex;
    flex-flow: row nowrap;
    justify-content:flex-start;
    align-items:stretch;
}

.category-inside1 {
    flex-grow: 2;
    background-color: bisque;
}

.category-inside2 {
    flex-grow: 2;
    background-color: #e9dac9;
    position:relative;
}

.category-inside2 .buttons{   
    position: absolute;
    bottom: 5px;
    width:100%;
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-around;
    align-items:stretch;

}

.label-category{
    width:100%;
}

 /* Overwrite tree.js.css*/
.category-links {
    display:inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch;
    width: 30rem;
}

.category-inside .jstree-default .jstree-clicked , .category-inside .jstree-default .jstree-hovered {
     background-color: transparent;   
}

    .category-inside .jstree-default .jstree-clicked .category-link {
        background: #beebff;
        border-radius: 2px;
        box-shadow: inset 0 0 1px #999;
    }

.category-inside .jstree-default .jstree-hovered .category-link {
    background: #e7f4e9;
    border-radius: 2px;
    box-shadow: inset 0 0 1px #999;
}

.category-link a, .category-editlink a{
    color: black;
}

.category-editlink a {
    font-size: 1.2rem;
}